/* Estilo para o título */
.teste {
  margin: 0;
  padding: 0;
  background-image: url('./assets/chucknorris_logo_coloured_small.png'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Cobrir toda a área do componente */
  background-repeat: no-repeat; /* Evitar repetição */
  background-attachment: fixed; /* Manter a imagem fixa no lugar enquanto o conteúdo rola */
  width: 100%; /* Ocupar a largura total da tela */
  height: 100vh; /* Ocupar a altura total da tela */
  overflow-x: hidden;
}



.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #333;
  margin-bottom: 20px;
}

.sub-title {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para o título de carregamento */
.title-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #999;
}

/* Estilo para o conteúdo da piada */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #555;
  margin-top: 20px;
}

.teste {
  outline-style: none;
}

/* Estilo para os botões animados */
.animated-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para os botões animados quando o mouse passa sobre eles */
.animated-button:hover {
  background-color: #0056b3;
}

/* Estilo para o seletor de categoria */
.filter select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

